<div class="units-row">
  <div class="unit-50">
  <h2><%= resource_name.to_s.humanize %> Sign Up</h2>
    
  <%= form_for(resource, :html => { :class => 'forms' }, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <label class="bold">Username
  <%= f.text_field :username, autofocus: true %>
  </label>

  <label class="bold">E-mail
  <%= f.email_field :email %>
  </label>

  <label class="bold">Password
    <%= f.password_field :password, autocomplete: "off" %>
  </label>

  <label class="bold">Password
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </label>

  <p><%= f.submit "Sign up", class: 'btn-green btn' %></p>
  <% end %>

  <%= render "devise/shared/links" %>

  </div>
  <div class="unit-50">
  <% if resource_name.to_s == 'admin' %>
    <p>This is some text about Admin Registration.</p>

    <% end %>
  </div>
</div>



