<%= form_for @issue, :html => { :class => 'forms' } do |f| %>

      <%= f.label :name, :class => 'bold' %>
      <%= f.text_field :name %>

      <%= f.label :issue_type, :class => 'bold' %>
      <%= select_tag(:issue_type, options_for_select([['Bug Report', 'Bug Report'], ['Feature Request', 'Feature Request']]), class: 'width-30' )%>
      <div class="forms-desc">Where you from?</div>
 
      <%= f.label :description, :class => 'bold' %>
      <%= f.text_area :description %>
  
      <%= f.submit nil, :class => 'btn' %>
      <%= link_to 'Cancel', issues_path, :class => 'btn' %>


<% end %>
