<%= form_for @issue, :html => { :class => 'forms' } do |f| %>
  <ul>
    <li>
      <%= f.label :name, :class => 'bold' %>
      <%= f.text_field :name %>
    </li>
    <li>
      <%= f.label :issue_type, :class => 'bold' %>
      <%= f.text_field :issue_type %>
    </li>
    <li>
      <%= f.label :description, :class => 'bold' %>
      <%= f.text_area :description %>
    </li>

    <li>
      <%= f.submit nil, :class => 'btn' %>
      <%= link_to 'Cancel', issues_path, :class => 'btn' %>
    <li>
  </ul>
<% end %>
