<%- model_class = Issue -%>
<h1><%= model_class.model_name.human.pluralize %></h1>

<table class="striped">
  <thead class="thead-black">
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:issue_type) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= link_to issue.id, issue_path(issue) %></td>
        <td><%= issue.name %></td>
        <td><%= issue.issue_type %></td>
        <td><%= issue.description %></td>
        <td><%=l issue.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_issue_path(issue), :class => 'btn btn-small' %>
          <%= link_to 'Destroy', issue_path(issue),
                      :method => :delete,
                      :data => { :confirm => 'Are you sure?' },
                      :class => 'btn btn-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New', new_issue_path, :class => 'btn' %>
