<div class="units-row">
  
<div class="unit-70">
  

<h1><%= @issue.name %></h1>
<h6><%= @issue.issue_type %></h6>
<br />
<p><%= @issue.description %></p>

</div>
<div class="unit-30">
  <p>Posted By: <%= @issue.user.username %></p>
  <% if current_user.id == @issue.user.id %>
    <%= link_to 'Edit', edit_issue_path(@issue), :class => 'btn btn-small' %>
  <%= link_to 'Destroy', issue_path(@issue),
              :method => 'delete',
              :data => { :confirm => 'Are you sure?' },
              :class => 'btn btn-small' %> <br /><br />
  <% end %>
                <%= link_to 'Upvote Issue', 
              upvote_issue_path(@issue), 
              method: :put, 
              class: 'btn btn-small' %>
</div>
</div>



<div class="units-row">
  
<div class="unit-100">

<div><%= commontator_thread(@issue) %></div>

</div>
</div>
