<!DOCTYPE html>
<html ng-app="feedbackApp">
<head>
  <title><%= AppSettings.app_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => "layouts/header" %>

<div class="units-row">
<div class="unit-10"><br /></div>
<div class="unit-90">    

<% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
<% end %>

<%= yield %>

</div> <!-- end unit-80 -->
</div> <!-- end units-row -->

<%= render :partial => "layouts/footer" %>

</body>
</html>
