<!DOCTYPE html>
<html ng-app>
<head>
  <title>Feedback</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="units-row">
<div class="unit-centered unit-80">
    
<%= render :partial => "layouts/header" %>

<%= yield %>

<%= render :partial => "layouts/footer" %>

</div> <!-- end unit-80 -->
</div> <!-- end units-row -->

</body>
</html>
